<form action="/" method="post">
    <label for="title">Title</label>
    <input type="text" name="title" id="title">
    <label for="content">Content</label>
    <textarea name="content" style="resize: vertical;font-family: monospace;min-height: 20em;"></textarea>
    {% if content_types | length > 1 %}
    <label for="content-type">Content Type</label>
    <select name="content-type" id="content-type">
        {% for ct in content_types %}
        <option value="{{ ct.value }}">{{ ct.name }}</option>
        {% endfor %}
    </select>
    {% endif %}
    {% if user %}
    <button>Submit</button>
    {% else %}
    <button disabled>Please Sign in to use <strong>PYSTEBIN</strong></button>
    {% endif %}
</form>