{% extends "base.html.j2" %}

{% block title %}404{% endblock %}

{% block body %}
<section style="margin: auto;width: 50%;padding-top: 5em;">
    <h1 style="font-size: 5em;text-align: center;vertical-align: middle;">Page /{{ page }} Not Found 😔</h1>
</section>

{% endblock %}